# College dataset

In [111]:
import pandas as pd
import numpy as np

In [112]:
college = pd.read_csv('college.csv')

In [113]:
college.shape

(777, 19)

In [114]:
college.head(10)

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
5,Albertson College,Yes,587,479,158,38,62,678,41,13500,3335,500,675,67,73,9.4,11,9727,55
6,Albertus Magnus College,Yes,353,340,103,17,45,416,230,13290,5720,500,1500,90,93,11.5,26,8861,63
7,Albion College,Yes,1899,1720,489,37,68,1594,32,13868,4826,450,850,89,100,13.7,37,11487,73
8,Albright College,Yes,1038,839,227,30,63,973,306,15595,4400,300,500,79,84,11.3,23,11644,80
9,Alderson-Broaddus College,Yes,582,498,172,21,44,799,78,10468,3380,660,1800,40,41,11.5,15,8991,52

In [11]:
college.median()

Apps           1558.0
Accept         1110.0
Enroll          434.0
Top10perc        23.0
Top25perc        54.0
F.Undergrad    1707.0
P.Undergrad     353.0
Outstate       9990.0
Room.Board     4200.0
Books           500.0
Personal       1200.0
PhD              75.0
Terminal         82.0
S.F.Ratio        13.6
perc.alumni      21.0
Expend         8377.0
Grad.Rate        65.0
dtype: float64

In [12]:
college.loc[college['S.F.Ratio'] < 10].shape

(81, 19)

In [117]:
college.loc[college['Enroll'] > 1000].shape

(174, 19)

# Auto dataset

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [15]:
auto = pd.read_csv('auto.csv')

In [16]:
auto.head(5)

,Unnamed: 0,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,1,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,2,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,3,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,4,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,5,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [17]:
auto_x = auto.weight.to_numpy().reshape(-1, 1)

In [18]:
auto_y = auto.mpg.to_numpy()

In [19]:
reg = LinearRegression().fit(auto_x,auto_y)

In [20]:
round(reg.coef_[0], 4)

-0.0076

In [21]:
round(reg.intercept_, 2)

46.22

In [22]:
y_pred = reg.predict(auto_x)

In [23]:
r2_score(auto_y, y_pred)

0.6926304331206254

In [24]:
round(0.6926304331206254, 2)

0.69

# Test Data

In [25]:
reg_b = LinearRegression()

In [26]:
reg_b.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

In [109]:
b0=61
b1=20
b2=0.07
b3=35
b4=0.01
b5=-10

In [110]:
b0 + b1*4.0 + b2*1 + b3*1 + b4 * (4.0*1) + b5 * (4.0*1)

136.10999999999999

# 136.0

In [88]:
# 141.5